<app-title [title]="'Bienvenido'"></app-title>

<ion-content [fullscreen]="true" [style.visibility]="content_visibility">
    <div class="body">
        <app-title-image />
        <h1>Bienvenido {{alumno}}</h1>
        <div class="btnGroup">
          <div>
              <app-button [type]="'button'" [label]="'capturar qr'" (onClick)="doEnter()"></app-button>
          </div>
          <div>
              <app-button [type]="'button'" [label]="'consultar api'" (onClick)="doEnterApi()"></app-button>
          </div>
          <div>
              <app-button [type]="'button'" [style]="'cancel'" [label]="'cerrar sesión'" (onClick)="doCancel()"></app-button>
          </div>
        </div>
    </div>
</ion-content>
<app-message></app-message>
<app-footer></app-footer>