ion-title {
    position: relative;
    animation: slideTitle 3s linear infinite;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  @keyframes slideTitle {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }