<app-title [title]="'Recuperar contraseña'"></app-title>

<ion-content [fullscreen]="true">
  <div class="body">
    <app-title-image />
    <h1>Recuperar contraseña</h1>
    <form
      action=""
      class="form"
      [formGroup]="passwordRecoveryForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="field">
        <ion-input
          label="Email"
          labelPlacement="floating"
          placeholder="Ingrese su correo electrónico"
          formControlName="email"
          [class.invalid]="isFieldInvalid('email')"
        >
        </ion-input>
      </div>
      <br />
      <div class="btnGroup">
        <div>
          <app-button
            [type]="'submit'"
            [label]="'recuperar'"
            (onClick)="doEnter()"
          ></app-button>
        </div>
        <div>
          <app-button
            [type]="'reset'"
            [style]="'cancel'"
            [label]="'cancelar'"
            (onClick)="doCancel()"
          ></app-button>
        </div>
      </div>
    </form>
  </div>
</ion-content>
<app-message></app-message>
<app-footer></app-footer>
